/*===================================================================
  This is the Software Version data for Application Firmware.
  
  The only thing should be the Software Version string in quotes.
  Note:  the ": " must be there--desktop applications expect it and
  skip over the first two characters.
  
  Note:  the end of this multiline comment must be on its own
  line.
=====================================================================*/

": $WCREV$"
